body{
	background-color: linen;

	}
.kaire {
	background-color: blue;
}
.desine {
	background-color: red;
}
.spacing {
	padding: 20px;
	padding-bottom: 400px;
}
.mygtukai{
	            border: 5px solid yellow;
			 	float: left; <!--lygiuote-->
			 	
			 	color: black;
			 	
			 	width: 100px;
			 	margin:20px;
			 	text-align: center;
			 
			 	font-size: 40px;
			 	
}
