body{
	background-color: linen;

	}
.kaire {
	background-color: blue;
}
.desine {
	background-color: red;
}
.spacing {
	padding: 20px;
	
}
.mygtukai{
	            border: 5px solid yellow;
			 	float: left; <!--lygiuote-->
			 	
			 	color: black;
			 	
			 	width: 20px;
			 	margin: 10px;
			 	text-align: center;
			 	align-items: center;
		 	    
			 
			 	font-size: 20px;
			 	
}
#vienas{
	background-color: #D9E839;
}
#du{
	background-color: #4EB72F;
}
#trys{
	background-color: #469D5F;
}
#keturi{
	background-color: #41A4A4;
}
#penki{
	background-color: #0E5A73;
}
#sesi{
	background-color: #88CFE7;
}
#septyni{
	background-color: #838F93;
}
#astuoni{
	background-color: #1B518A;
}
#devyni{
	background-color: #D9E8F7;
}
#desimt{
	background-color: #7946B3;
}
#vienuolika{
	background-color: #E6DAF5;
}
#dvylika{
	background-color: #5F4F73;
}
#trylika{
	background-color: #D663E3;
}
#keturiolika{
	background-color: #903867;
}
#penkiolika{
	background-color: #F5D0E4;
}
