body{
	background-color: linen;

	}
.kaire {
	background-color: blue;
}
.desine {
	background-color: red;
}
.spacing {
	padding: 20px;
	padding-bottom: 400px;
}
.mygtukai{
	            border: 5px solid yellow;
			 	float: left; <!--lygiuote-->
			 	
			 	color: black;
			 	
			 	width: 100px;
			 	margin:20px;
			 	text-align: center;
			 
			 	font-size: 40px;
			 	
}
#vienas{
	background-color: #D9E839;
}
#du{
	background-color: #4EB72F;
}
#trys{
	background-color:
}
#keturi{
	background-color:
}
#penki{
	background-color:
}
#sesi{
	background-color:
}
#septyni{
	background-color:
}
#astuoni{
	background-color:
}
#devyni{
	background-color:
}
#desimt{
	background-color:
}
#vienuolika{
	background-color:
}
#dvylika{
	background-color:
}
#trylika{
	background-color:
}
#keturiolika{
	background-color:
}
#penkiolika{
	background-color:
}
